package ${package}.${moduleName}.interfaces.web.command;


import ${package}.${moduleName}.infrastructure.util.validator.group.UpdateGroup;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.util.Date;

/**
 * ${comments}Command
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@ApiModel(value = "${comments}", description = "${comments}")
public class ${className}Command {

#foreach ($column in $columns)
    #if($column.attrname != "enabledMark"
    &&$column.attrname != "deleteMark"
    &&$column.attrname != "createdUser"
    &&$column.attrname != "createdUserName"
    &&$column.attrname != "createdTime"
    &&$column.attrname != "updatedUserName"
    &&$column.attrname != "updatedTime"
    &&$column.attrname != "deleteUser"
    &&$column.attrname != "deleteUserName"
    &&$column.attrname != "deleteTime"
    &&$column.attrname != "tenantId")
    /**
     * $column.comments
     */
    @ApiModelProperty(value = "${comments}$column.attrname")
    #if($column.attrType == "String")
    @NotBlank(message = "${comments}$column.attrname 不能为空", groups = UpdateGroup.class)
    #end
    #if($column.attrType != "String")
    @NotNull(message = "${comments}$column.attrname 不能为空", groups = UpdateGroup.class)
    #end
    private $column.attrType $column.attrname;
    #end
#end

}
