package ${package}.${moduleName}.infrastructure.persistence.mybatis.entity;


import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import ${package}.common.BaseDO;
import lombok.Data;

import java.math.BigDecimal;
import java.util.Date;

/**
 * ${comments}DO
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className}DO extends BaseDO {

    #foreach ($column in $columns)
        #if($column.attrname != "enabledMark"
        &&$column.attrname != "description"
        &&$column.attrname != "updatedUser"
        &&$column.attrname != "deleteMark"
        &&$column.attrname != "createdUser"
        &&$column.attrname != "createdUserName"
        &&$column.attrname != "createdTime"
        &&$column.attrname != "updatedUserName"
        &&$column.attrname != "updatedTime"
        &&$column.attrname != "deleteUser"
        &&$column.attrname != "deleteUserName"
        &&$column.attrname != "deleteTime")
    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;
    #end

    #if($column.attrname == "tenantId")
    /**
     * 租户编码
     */
    @TableField(exist = false)
    private String tenantCode;

    /**
     * 租户名称
     */
    @TableField(exist = false)
    private String tenantName;
    #end
    #end
}

