package ${package}.${moduleName}.interfaces.facade.dto;


import lombok.Data;

import java.io.Serializable;
import java.math.BigDecimal;
import java.util.Date;


/**
 * ${comments}DTO
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Data
public class ${className}DTO implements Serializable {

    #foreach ($column in $columns)
        #if($column.attrname != "enabledMark"
        &&$column.attrname != "deleteMark"
        &&$column.attrname != "createdUser"
        &&$column.attrname != "createdUserName"
        &&$column.attrname != "createdTime"
        &&$column.attrname != "updatedUserName"
        &&$column.attrname != "updatedTime"
        &&$column.attrname != "deleteUser"
        &&$column.attrname != "deleteUserName"
        &&$column.attrname != "deleteTime"
        &&$column.attrname != "tenantId")
    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;
    #end
    #end

}

