spring:
  profiles:
    active:
      - dev
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      enabled: true
mybatis-plus:
  configuration:
    # 驼峰命名
    map-underscore-to-camel-case: true
    # 主键自增
    use-generated-keys: true
  mapper-locations: classpath*:${commonPath}/*/infrastructure/persistence/mybatis/mapper/xml/*.xml
  type-aliases-package: ${package}.*.infrastructure.persistence.entity