html { overflow-x:hidden; }
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}

.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}

.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}

[v-cloak] {
  display: none;
}

.grid-btn{
	margin-bottom:12px;
}
.grid-btn .btn{
	margin-right:10px;
}
.pointer{cursor: pointer;}

.ml-10 { margin-left:0 !important; }
@media (min-width: 768px) {
	.ml-10 { margin-left:10px !important; }
	.col-sm-10 {width: 70%;padding-left: 0px;}
	.col-sm-2 {width: 24%;}
}
tbody > tr > th {font-weight: normal; }
.panel .table { margin:0 0; }
.panel .pagination { margin:0; }
.panel-default>.panel-heading {background-color: #f5f5f5;}
.row{
	border-top: 1px solid #ddd;
	margin:0;
	padding:20px 2px 0px 2px;
}
.col-xs-6{padding-left: 0px;padding-right: 0px;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
	width:550px;padding-top:20px;
}

.el-card {
    border: 1px solid #EBEEF5;
    background-color: #FFF;
    color: #303133;
    -webkit-transition: .3s;

}

.el-form-item {
    margin-bottom: 22px;
}

.el-form-item__label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.el-form-item__content {
    line-height: 40px;
    position: relative;
    font-size: 14px;
}

.el-input {
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.el-input__inner {
    -webkit-appearance: none;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
}

.el-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.el-button--primary {
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
}